# Visual Studio Code
.vscode/
.vs
# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nuget.props
*.paket.*
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.nupkg
*.json
*.cache
*.tmp
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.csproj.nuget.props
*.csproj.nuget.targets
*.xunit.runner.json

# Visual Studio cache files
*.VisualState.xml
*.hash
*.cache

# Resharper cache files
*_ReSharper.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Nn]ode[Rr]eference[s]?
[Tt]emp/
[Tt]est[Rr]esults/

# Backup & report files from converting an old project file
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/


